In [1]:
#Python Variable Name Rules
#Must start with a letter or underscore _ 
#Must consist of letters, numbers, and underscores
#Case Sensitive

In [6]:
a1 = 10
a1

10

In [ ]:
### Assign multiple values to multiple variables in a single line

In [9]:
a = 100;b=200;c=300
print(a)
print(b)

100
200

In [10]:
type(a)

int

In [11]:
c =10.5
type(c)

float

In [12]:
d =True
type(d)

bool

In [13]:
var ='hai8797%%%4$$'
var1 = "hai8797%%%4$$"

In [15]:
#check type
type(var1)

str

In [17]:
### Assign same value to multiple variables
a=b=c =900
c

900

In [22]:
#type
a  = float(a)

In [23]:
type(a)

float

In [24]:
c ='10'
type(c)

str

In [27]:
c = int(c)

In [1]:
# convert to float or int

In [ ]:
# Print statements in different format

In [29]:
print('The value of a is:',a)

The value of a is: 900.0

In [32]:
print("The value's of a is {}".format(a))

The value's of a is 900.0

In [31]:
print(f'The value of a is :{a}')

The value of a is :900.0

In [20]:
#Assignment statement
x = 8
#Assignment with expression
x = x + 9
#Print statement
print(x)

17

In [33]:
# Arithmetic Operators
# Addition
print(3 + 4)
# Subtraction
print(3 - 4)
# Multiplication
print(3 * 4)
# modulo operator 
print(3 % 2)
# Exponentiation
print(3 ** 4) 
#  division
print(7 / 4)
# floor division
print(7 // 4)

7
-1
12
1
81
1.75
1

In [34]:
a == b

True

In [37]:
b

900

In [39]:
not((a < 10) or (b > 100))

False

#### Relational operators
Operator	                             Description	                                      Syntax
<	                               Less than: True if the left operand is less than the right	x < y
==	                               Equal to: True if both operands are equal	                x == y
!=	                               Not equal to – True if operands are not equal	            x != y
>=	                               Greater than or equal to: True if left operand is            x >= y
                                     greater than or equal to the right

Logical operators
Operator	             Description	                                              Example
and	             Returns True if both statements are true	                     x < 5 and x < 10
or	             Returns True if one of the statements is true	                 x < 5 or x < 4
not	             Reverse the result, returns False if the result is true 	     not(x < 5 and x < 10)

In [43]:
# Get string object '123' from user input function and add value 1.
inp1 = int(input("Enter a number"))

Enter a number123

In [44]:
type(inp1)

int

In [45]:
inp1+ 1

124

In [46]:
'123' + str(1)

'1231'

In [47]:
# if -else
inp1 = int(input())
if inp1 > 0 :
    print('positive')
elif inp1 == 0:
    print('zero')
else:
    print('negative')

5
positive

In [51]:
# Find the largest of the 3 using if-else
a = int(input())
b = int(input())
c = int(input())
if (a> b) and (a>c):
    print(a)
elif (b>c) and (b>a):
    print(b)
else:
    print(c)

1
2000
3
2000

In [ ]:
# Iterating over range 0 to n-1
# Iterating over a String

In [54]:
for i in range(0,5,1):
    print(i)

0
1
2
3
4

In [55]:
for i in range(0,5,2):
    print(i)

0
2
4

In [53]:
for i in range(5):
    print(i)

0
1
2
3
4

In [56]:
#5,4,3,2,1
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [ ]:
# Strings 
#Strings are a collection of character where each character is again a string of length 1.
#Strings are immutable objects

In [60]:
sent = "We are learning Python"
sent[3] # +ve index

'a'

In [63]:
sent[-3] #-ve index

'h'

In [66]:
sent[0:6:1]

'We are'

In [68]:
sent[7:15:2]

'lann'

In [71]:
sent[-6:]

'Python'

In [72]:
sent[-6::2]

'Pto'

In [74]:
sent[-1:-7:-1]

'nohtyP'

In [75]:
# Reverse the string
sent[-1::-1]

'nohtyP gninrael era eW'

In [76]:
sent[::-1]

'nohtyP gninrael era eW'

In [43]:

#positive - left to right
#negative -  right to left
# start index - included
#end index - excluded

In [91]:
sent = "We are learning Python"

In [98]:
sent[-1:-7:-1]

'nohtyP'

In [77]:
 # immutable
sent[0] = 'p'

TypeError: 'str' object does not support item assignment

In [79]:
help(str.lower)

Help on method_descriptor:

lower(self, /)
    Return a copy of the string converted to lowercase.

In [80]:
'Hello'.upper()

'HELLO'

In [85]:
s ="hello"
s = s.replace('h','c')

In [86]:
s

'cello'

In [88]:
s.find('l')

2

In [90]:
len(sent)

22

In [9]:
#replace
#lower
#upper
#find
#concatenate strings
#length

In [ ]:
# String Indexing 
#Postive Indexing 
#Negative Indexing

In [ ]:
# Slicing
#Positive 
#Negative
#Step Index based

In [ ]:
#Searching a String
#find() finds the first occurrence of the substring
#If the substring is not found, find() returns -1

In [ ]:
#Replace

In [ ]:
#User Input
#Write a program to prompt the user for hours and rate per hour to compute gross pay.

In [99]:
'hello'* 3

'hellohellohello'

In [ ]:
#Given a string, return a string where for every character in the original there are three characters
# 'hello' -----------> 'hhheeellllllooo'

In [102]:
s =''
for i in 'hello':
    s = s+ (i*3)
    print(s,end='\n')

hhh
hhheee
hhheeelll
hhheeellllll
hhheeellllllooo

In [ ]:
#Looping and Counting
# count the number of 'a's in alphabets

In [ ]:
#Given a input string,If the string length is less than 3, print string is too short.
#If not create a string made up  of the first 3 and the last 3 chars from a given input string.

In [4]:
#range

In [5]:
#Lists
#collection objects
#Mutable objects 
#Ordered

In [103]:
list1 = list()
list1 = []

In [105]:
list1 = [1,2,2.5,True,'hai',[1,2,3]]
type(list1)

list

In [107]:
list1[5][2]

3

In [109]:
list1[-1][-1]

3

In [110]:
list1.append(9)
list1

[1, 2, 2.5, True, 'hai', [1, 2, 3], 9]

In [111]:
list1.append([1,9])
list1

[1, 2, 2.5, True, 'hai', [1, 2, 3], 9, [1, 9]]

In [112]:
list1.extend([1,9])
list1

[1, 2, 2.5, True, 'hai', [1, 2, 3], 9, [1, 9], 1, 9]

In [106]:
#append
#extend
#insert
#pop
#remove

In [ ]:
#Suppose you are given a list of numbers. You need to find the corresponding squares of these numbers
# save it to a new list

In [115]:
list1 =[1,2,3,4,5]

In [116]:
list2 =[]
for i in list1:
    list2.append(i**2)
list2

[1, 4, 9, 16, 25]

In [117]:
[i**2 for i in list1]  #list comprehension

[1, 4, 9, 16, 25]

In [118]:
#Write code to add ‘horseback riding’ to the third position (i.e., right before volleyball) in the list sports.
sports = ['cricket', 'football', 'volleyball', 'baseball', 'softball', 'track and field', 'curling', 'ping pong', 'hockey']

In [119]:
sports.insert(2,'horseback riding')
sports

['cricket',
 'football',
 'horseback riding',
 'volleyball',
 'baseball',
 'softball',
 'track and field',
 'curling',
 'ping pong',
 'hockey']

In [128]:
#Write code to take ‘London’ out of the list trav_dest.
trav_dest = ['Beirut', 'Milan', 'Pittsburgh', 'Buenos Aires', 'Nairobi', 'Kathmandu', 'Osaka', 'London', 'Melbourne']

In [120]:
list1

[1, 2, 3, 4, 5]

In [123]:
list1.pop(1)
list1

[1, 3]

In [129]:
trav_dest.remove('London')
trav_dest

['Beirut',
 'Milan',
 'Pittsburgh',
 'Buenos Aires',
 'Nairobi',
 'Kathmandu',
 'Osaka',
 'Melbourne']

#### Tuples

In [130]:
#In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. 
tup = ()
type(tup)

tuple

In [131]:
tup = tuple()
type(tup)

tuple

In [132]:
tup = (1,2,[2,3],'hai')

In [133]:
#immutable
tup[0] =9

TypeError: 'tuple' object does not support item assignment

In [135]:
tup.index(2)

1

#### Set

In [136]:
#unordered collection of unique elements
#Sets cannot have duplicates.
s  = set()

In [137]:
type(s)

set

In [138]:
s1 = {1,2,2,4,5,6,7,7,8}
s1

{1, 2, 4, 5, 6, 7, 8}

In [141]:
#Give a list  extract the unique elements from the list
li =[1,2,3,3,4,5,6,6]
new = list(set(li))
new

[1, 2, 3, 4, 5, 6]